body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #70b8eb, #ffffff);
    color: #333;
}
/* Hero Section */
.hero {
    background: linear-gradient(45deg, #007bff, #4a90e2);
    color: white;
    border-bottom: 5px solid #0056b3;
}

.hero h1 {
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero img {
    border: 5px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.hero img:hover {
    transform: scale(1.1);
}
.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
/* Certificate hover effect */
.certificate-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.certificate-wrapper:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.certificate-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.certificate-wrapper:hover .certificate-image {
    transform: scale(1.1);
}
p {
    color: #444;
    font-family: 'Roboto', sans-serif;
}
/* YouTube Thumbnail */
.channel-thumbnail {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 400px;
}

.channel-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.channel-image {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.channel-thumbnail:hover .channel-image {
    transform: scale(1.1);
}

/* Award Image */
.award-image {
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.award-image:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
/* Contact Section */

.contact-icon {
    font-size: 2.5rem;
    margin: 0 15px;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.contact-icon:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.1); /* Subtle background change */
    opacity: 0.9;
}
