*{
    margin: 0%;
    padding: 0%;
}
#map{
    height: 470px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px rgb(124, 119, 119);
}
#map-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 5px;
    z-index: 1000; /* Ensures title is above other elements */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Optional shadow for better visibility */
}


.info.legend {
    background: white;
    padding: 6px 8px;
    font: 14px Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    line-height: 18px;
    color: #555;
}

.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.info.legend:hover{
    box-shadow: 2px 2px 2px 2px black;
    cursor: pointer;
}
