*{
    padding: 0%;
    margin: 0%;
}
#map{
    height: 480px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 2px 0px 2px 2px black;
}
/* Basic styles for the info control */
.info {
    padding: 10px;                 /* Padding around the content */
    background: white;            /* Background color */
    border: 2px solid #ccc;       /* Border with a light grey color */
    border-radius: 5px;           /* Rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    font-size: 14px;              /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    color: #333;                  /* Text color */
    position: absolute;            /* Positioning */
    opacity: 0.7;
}

/* Optional styles for hover effect */
.info:hover {
    background: #c6c1c1;          /* Change background on hover */
    border-color: #888;           /* Darker border on hover */
    cursor: pointer;
}

/* Additional styles for titles or headings */
.info h4 {
    margin: 0 0 5px;              /* Margin for heading */
    font-weight: bold;             /* Bold text for headings */
}

/* Styles for paragraphs or text within the info */
.info p {
    margin: 0;                    /* Remove margin for paragraphs */
}

/* Style for list items if needed */
.info ul {
    padding-left: 15px;           /* Indent list items */
}

/* Style for individual list items */
.info li {
    margin-bottom: 5px;           /* Space between list items */
}

.legend {
    color: #f0ebeb;
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: rgb(86, 81, 81);
    background: rgba(92, 88, 88, 0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}
.legend li {
    color: aliceblue;
    display: inline-block;
    width: 30px;
    height: 22px;
}
.legend .min {
    color: white;
    float: left;
    padding-bottom: 5px;
}
.legend .max {
    float: right;
}